/* Hugo Prendes Menéndez - UO288294 */

/* 0,0,1 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 1em; 
}

/* 0,0,2 */
main h2 {
    grid-column: 1 / -1;
    text-align: center;
}

/* 0,0,2 */
main p {
    grid-column: 1 / -1; /* Ocupa todas las columnas disponibles */
    text-align: center;  /* Centra el texto */
    font-size: 1.5em;    /* Opcional: Aumentar tamaño para visibilidad */
    font-weight: bold;   /* Opcional: Negrita para resaltar */
}

@media (min-width: 320px) and (max-width: 799px) {
    /* 0,0,1 */
    main {
        grid-template-columns: repeat(2, 1fr); /* Propiedad redefinida debido al uso de @media-queries (genera advertencia) */
    }
}